body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  /* margin-top: 80px; */
  color: whitesmoke;
  /* width: 768px; */
}

#root {
  width: 100vw;
  margin: 0;
}

