.form-container {
  margin: auto;
  width: 571px;
}

.form-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  & h1 {
    align-self: flex-start;
    margin: 0;
  }

  & input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 6px;
    border: 1px solid #ffffff;
    font-family: Sura;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    -webkit-appearance: none;
  }


  & .instructions {
    margin-top: 2rem;
    font-weight: normal;
    font-size: x-small;
    text-transform: uppercase;
  }
}

form {
    margin-top: 2rem;
}

label {
  margin-top: 1rem;
}

input:focus {
  border-color: #333333;
}

input[type="text"] {
    width: 15rem;
    height: 3rem;
  padding: 12px 20px;
  margin: 1rem 0 2rem 0;
  box-sizing: border-box;
  border-radius: 60px 60px 0 0;
  font-family: "Cabin", sans-serif;
  text-align: center;
}
input[type="date"] {
    cursor: pointer;
    width: 15rem;
    height: 3rem;
  padding: 12px 20px;
  margin: 1rem 0 2rem 0;
  box-sizing: border-box;
  border-radius: 60px 60px 0 0;
  font-family: "Cabin", sans-serif;
  text-align: center;
  -webkit-appearance: none;
}

#faceOffButton:hover {
    background-color: #272727;
}
