.header {
    height: 4.1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    // max-width: 100%;
    // min-width: 571px;
    width: 100%;
}

.content-container {
    // margin: 0 50px 0 50px;
    // padding-left: 2rem;
    // padding-right: 2rem;
    display: flex;
    height: 4.1rem;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    & svg {
    
        font-size: 2rem;
    }
}

.menu-container {
    margin-left: 2rem;
}

.logo-container {
    margin-right: 2rem;
}

.logo {
    display: inline-flex;
    height: 3rem;
}