.header {
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-container {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 768px;
  & svg {
    font-size: 2rem;
  }
}

.menu-container {
  margin-left: 2rem;
}

.logo-container {
  margin-right: 2rem;
}

.logo {
  display: inline-flex;
  height: 3rem;
}
